@import "./fonts.css";

* {
  background-color: black;
  color: white;
  margin: 0;
  margin-right: 6px;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

a {
  font-size: 13px;
  text-decoration: none;
  font-family: "MADE Outer Sans Light";
}

.nav-title {
  font-size: 35px;
  text-decoration-line: none;
  font-family: "MADE Outer Sans Bold";
}

.content{
  margin-top: 300px;
  margin-left: 30px;
  font-family: "MADE Outer Sans Light";
}

h1{
  font-size: 80px;
  font-family: "MADE Outer Sans Bold";
}

span {
  text-decoration-line: underline;
}

.contact {
  font-size: 25px;
  letter-spacing: 7px;
}