@import "./fonts.css";

* {
  overflow: hidden
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
}

.nav-links a{
  font-family: "MADE Outer Sans Light";
  font-size: 13px;
  text-decoration: none;
  padding: 0 20px 0 0;
}

.logo {
  padding-left: 25px;
  font-family: "MADE Outer Sans Bold";
  font-size: 35px;
  text-decoration-line: none;
}

.title-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 121px;
  position: relative;
  bottom: 0px;
  left: -17px
}

.title {
  font-size: 170px;
  letter-spacing: -11px;
  font-family: "MADE Outer Sans Bold";
  padding-right: 20px;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 90vh;
}

.social-links {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-links ul{
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.social-links i{
  font-size: 25px;
  padding: 10px 0;
}

.address {
  margin-top: 200px;
  margin-right: 25px;
  margin-bottom: 20px;
  font-size: 10px;
  bottom: 20px;
  font-family: "MADE Outer Sans Light";
  letter-spacing: 2px;
}