@import "./fonts.css";

* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 25px; 
  min-height: 10vh
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

a {
  font-size: 13px;
  text-decoration: none;
  font-family: "MADE Outer Sans Light";
}

.nav-title {
  font-size: 35px;
  text-decoration-line: none;
  font-family: "MADE Outer Sans Bold";
}

.title-container{
  display: flex;
  flex-direction: column;
  line-height: 121px;
  justify-content: flex-end;
  position: relative;
  bottom: 38px;
  left: -17px
}

.title {
  font-size: 150px;
  font-family: "MADE Outer Sans Bold";
}

.content{
  display: flex;
  align-items: stretch;
  min-height: 90vh;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.links-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

i{
  font-size: 25px;
  padding: 10px 0;
}

.address {
  margin-top: 200px;
  margin-right: 25px;
  margin-bottom: 20px;
  align-items: baseline;
  font-size: 10px;
  position: relative;
  bottom: 20px;
  font-family: "MADE Outer Sans Light";
}