@import "./fonts.css";

body {
  --text-color: rgb(0, 0, 0);
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #000000;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #000000;
  }
  body.light-theme {
    --text-color: rgb(0, 0, 0);
    --bkg-color: #fff;
  }
}

* {
  background-color: var(--bkg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow: hidden
}


nav {
  margin: 25px; 
  display: flex;
  justify-content: space-between;
  min-height: 10vh
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

a {
  font-family: "MADE Outer Sans Light";
  font-size: 13px;
  text-decoration: none;
}

.btn-toggle {
  border: none;
  display: flex;
  align-items: flex-start;
  outline: none;
}

.nav-title {
  font-family: "MADE Outer Sans Bold";
  font-size: 35px;
  text-decoration-line: none;
}

.title-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 121px;
  position: relative;
  bottom: 45px;
  left: -17px
}

.title {
  font-size: 170px;
  letter-spacing: -11px;
  font-family: "MADE Outer Sans Bold";
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 90vh;
}

ul {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.links-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fa-adjust {
  padding: 0;
}

i{
  font-size: 25px;
  padding: 10px 0;
}

.address {
  margin-top: 200px;
  margin-right: 25px;
  margin-bottom: 20px;
  align-items: baseline;
  font-size: 10px;
  position: relative;
  bottom: 20px;
  font-family: "MADE Outer Sans Light";
  letter-spacing: 2px;
}