* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.titulo-con-links {
  display: flex;
  justify-content: space-between;
}

.titulo-con-direccion {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul {
  list-style-type: none;
  margin: 30px;
  padding: 0;
}

.title {
  font-size: 100px;
}
