@import "./general/fonts.css";

* {
  overflow: hidden;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.social-links {
  display: none;
}

.address {
  font-size: 10px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  max-height: 45vh;
}

.contact-container {
  display: flex;
  justify-content: flex-end;
}

.title-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 30vw;
  line-height: 24vw;
  position: relative;
  margin: 0;
}

.title {
  letter-spacing: -5px;
  font-family: "MADE Outer Sans Bold";
  right: 17px;
  position: relative;
  overflow: initial;
}

@media (min-width: 576px){
  .container{ max-width: 100%;}
}

@media (min-width: 768px){
  .container{ max-width: 100%;}
}

@media (min-width: 992px) {

  .container {
    flex-direction: row;
  }

  .social-links {
    display: block;
    padding-right: 2vw;
  }

  .social-links li {
    font-size: 3vw;
  }

  .col-lg-4 {
    width: 100%;
    
  }

  .address {
    position: absolute;
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    font-size: 1.2vw;
    bottom: 0px;
    right: 15px;
  }

  .title-container {
  font-size: 15vw;
  line-height: 11vw;
  }

  .row-lg {
    height: 100%;
    display: flex;
    align-items: center;
  }
}