@import "./themes.css";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

nav a {
  color: var(--text-color);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  font-family: "MADE Outer Sans Light";
  font-size: 13px;
  text-decoration: none;
  padding: 0 19px 0 0;
  transition: all 0.5s;
}

.links li a:hover {
  color: var(--bkg-color);
}

#logo {
  z-index: 3;
  margin-left: -20px;
  transition: all 0.5s;
}

.logo a {
  padding-left: 40px;
  font-family: "MADE Outer Sans Bold";
  font-size: 35px;
  text-decoration-line: none;
  transition: all 0.5s;
}

.burger {
  display: none;
}

.home {
  display: none;
}

@media screen and (max-width: 1366px) {
  nav {
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    z-index: 3;
    margin-left: -20px;
    transition: all 0.5s;
  }

  .logo {
    padding-left: 25px;
    font-family: "MADE Outer Sans Bold";
    font-size: 35px;
    text-decoration-line: none;
    transition: all 0.5s;
  }

  .logo a {
    padding-left: 5px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
  }

  .links a {
    font-size: 3vh;
    line-height: 10vh;
    width: 110%;
  }

  .links a:hover {
    background-color: var(--text-color);
    color: var(--bkg-color);
  }

  nav.open {
    justify-content: center;
    padding-left: 0;
    transition: all 0.5s;
  }

  nav ul.open {
    transform: translate(-100vw);
    padding-left: 4%;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    display: contents;
    overflow: hidden;
  }

  .burger {
    display: block;
    position: fixed;
    top: 3%;
    right: 5%;
    font-size: 28px;
    z-index: 2;
    transition: all 0.5s;
  }

  .links {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    position: fixed;
    top: 15%;
    bottom: 0;
    right: 0;
    left: 100%;
    z-index: 1;
    transition: all 0.5s;
  }

  .home {
    display: flex;
    justify-content: center;
  }

  .btn-toggle {
    margin-top: 30%;
    transition: all 0.5s;
  }

  .fas {
    transition: all 0.5s;
  }
}

@media screen and (max-width: 360px) {
  .burger {
    top: 3%;
    right: 5%;
  }
}

@media screen and (max-width: 1366px) and (orientation: landscape) {
  .links a {
    font-size: 3vh;
    line-height: 10vh;
    width: 110%;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-toggle {
    margin-top: 5%;
  }

}

