@import "./fonts.css";

* {
  overflow: hidden
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.links {
  display: flex;
}

.nav-links a{
  font-family: "MADE Outer Sans Light";
  font-size: 13px;
  text-decoration: none;
  padding: 0 20px 0 0;
}

#logo {
  z-index: 3;
  margin-top: 44px;
  margin-left: -20px; 
}

.logo {
  padding-left: 25px;
  font-family: "MADE Outer Sans Bold";
  font-size: 35px;
  text-decoration-line: none;
}

i{
  font-size: 25px;
  padding: 10px 0;
}

.content{
  margin-top: 300px;
  margin-left: 30px;
  font-family: "MADE Outer Sans Light";
}

h1{
  font-size: 80px;
  font-family: "MADE Outer Sans Bold";
}

span {
  text-decoration-line: underline;
}

.contact {
  font-size: 25px;
  letter-spacing: 7px;
}

@media screen and (max-width: 768px)
{
  .burger{
  top: 45px;
  }
}