@import "./fonts.css";

* {
  overflow: hidden
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.links {
  display: flex;
}

.nav-links a{
  font-family: "MADE Outer Sans Light";
  font-size: 13px;
  text-decoration: none;
  padding: 0 20px 0 0;
}

#logo {
  z-index: 3;
  margin-top: 44px;
  margin-left: -20px; 
}

.logo {
  padding-left: 25px;
  font-family: "MADE Outer Sans Bold";
  font-size: 35px;
  text-decoration-line: none;
}

.title-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 121px;
  position: relative;
  bottom: 20px;
  left: -17px
}

.title {
  font-size: 170px;
  letter-spacing: -11px;
  font-family: "MADE Outer Sans Bold";
  padding-right: 20px;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 90vh;
}

.contact-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-links {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.social-links i{
  font-size: 25px;
  padding: 10px 0;
  cursor: pointer;
}

.address {
  margin-top: 200px;
  margin-right: 25px;
  margin-bottom: 20px;
  font-size: 10px;
  bottom: 20px;
  font-family: "MADE Outer Sans Light";
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .burger{
    top: 56px;
    }

  .title {
    font-size: 115px;
    line-height: 85px;
    letter-spacing: -8px;
  }

  .title-container {
    position: relative;
    bottom: 22px;
    left: -16px;
    min-width: 105%;
  }
}

@media screen and (max-width: 936px) {
  .social-links {
    display: none;
  }

  .address {
    writing-mode: vertical-rl;
    margin-top: 0;
    position: fixed;
    font-size: 6px;
    margin-right: 45px;
    margin-bottom: 189px;
    transform: rotate(180deg);
  }
}

