@import "./general/fonts.css";

* {
  overflow: hidden;
  transition: all 0.5s;
}

.title-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 17vh;
  position: relative;
  bottom: 0px;
  left: -17px
}

.title {
  font-size: 21vh;
  letter-spacing: -11px;
  font-family: "MADE Outer Sans Bold";
  padding-right: 20px;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 90vh;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.social-links {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.social-links i{
  font-size: 25px;
  padding: 10px 0;
  cursor: pointer;
}

.address {
  margin-right: 25px;
  font-size: 10px;
  font-family: "MADE Outer Sans Light";
  letter-spacing: 2px;
  position: relative;
  top: 30vh
}


@media screen and (max-width: 1024px) {
  .title {
    font-size: 21vh;
    line-height: 16vh;
    letter-spacing: -8px;
  }

  .title-container {
    position: relative;
    bottom: 0;
    left: -16px;
    min-width: 105%;
  }

  .social-links {
    display: none;
  }

  .address {
    writing-mode: vertical-rl;
    margin-top: 0;
    position: absolute;
    top: 18%;
    font-size: 1vh;
    margin-right: 10%;
    margin-bottom: 50%;
    transform: rotate(180deg);
  }
  
} 

@media (min-width: 370px) and (max-width: 768px) {
  
  .title {
    font-size: 16vh;
    line-height: 13vh;
  }

  .address {
    position: absolute;
    top: 18%;
  }
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 18vh;
    line-height: 14vh;
  }

  .address {
    position: fixed;
  }
} 

@media screen and (max-width: 280px) {
  .title {
    font-size: 14vh;
    line-height: 11vh;
  }

  .address {
    position: absolute;
    top: 20%;
  }
} 
