.burger{
  display: none;
}

.home {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
  }

  .nav-links {
    letter-spacing: 5px;
    line-height: 60px;
    align-items: center;  
  }

  .nav-links a {
    width: 105%;
  }

  .nav-links a:hover {
    opacity: 0.3;
    background-color: rgb(128, 128, 128);
  }
  
  nav.open {
    justify-content: center;
    padding-left: 0;
    transition: all 0.5s;
  }

  nav ul.open {
    transform: translate(-100vw);
    padding-left: 4%;
  }
  
  nav ul li {
    width: 100%;
    text-align: center;
    display: contents;
    
  }

  .burger {
    display: block;
    position: fixed;
    
    right: 25px;
    font-size: 28px;
    z-index: 2;
    transition: all 0.5s;
  }
  
  .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    position: fixed;
    top: 15%;
    bottom: 0;
    right: 0;
    left: 100%;
    z-index: 1;
    transition: all 0.5s;
  }
  
  .home {
    display: flex;
    justify-content: center;
  }
  
  .btn-toggle {
    padding-top: 30%;
    transition: all 0.5s;
  }
}


 



