@import "./general/fonts.css";

* {
  overflow: hidden;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-top: 4vh;
  height: 90vh;
}

.title {
  font-size: 12vw;
  font-family: "MADE Outer Sans bold";
  margin: 0 auto;
}

.description {
  font-family: "MADE Outer Sans light";
  font-size: 3.5vw;
  margin-top: 5vw;
  margin-left: 1.5vw;
}

.products {
  display: flex;
  flex-direction: column;
  font-family: "MADE Outer Sans outline bold";
  font-size: 5vw;
  margin-top: 5vw;
  margin-left: 1.5vw;
}

.vertical {
  display: none;
}

@media (min-width: 576px){
  .content{ max-width: 100%;}
}

@media (min-width: 992px) {

  .content {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    font-size: 8vw;
  }

  .products {
    font-size: 2vw;
    letter-spacing: .3vw;
  }

  .description{
  font-size: 2vw;
  margin-left: 7vw;
  letter-spacing: .3vw;
  }

  .company-description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: -5vw;
  }

  .products-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .vertical {
    display: block;
    writing-mode: vertical-lr;
    font-family: "MADE Outer Sans light";
  }

  #we-transform{
    margin-right: 1.5vw;
  }

  #city{
    margin-left: 1.5vw;
  }

}
