@import "./fonts.css";

* {
  overflow: hidden
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.links {
  display: flex;
}

.home {
  display: none;
}

.nav-links a{
  font-family: "MADE Outer Sans Light";
  font-size: 13px;
  text-decoration: none;
  padding: 0 20px 0 0;
}

#logo {
  z-index: 3;
  margin-top: 44px;
  margin-left: -20px; 
}

.logo {
  padding-left: 25px;
  font-family: "MADE Outer Sans Bold";
  font-size: 35px;
  text-decoration-line: none;
}

h1 {
  position: relative;
  font-size: 120px;
  right: 1.6%;
}

.vertical-text-rl {
  writing-mode: vertical-rl;
  font-size: 12px;
  font-family: "MADE Outer Sans Light";
  letter-spacing: 1px;
  margin-right: 17px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  font-family: "MADE Outer Sans Bold";
}

.description{
  margin-top: 15px;
  padding-left: 90px;
  font-size: 25px;
  font-family: "MADE Outer Sans Light";
}

.products-container{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

i{
  font-size: 25px;
  padding: 10px 0;
}

.products-container ul {
  list-style-type: none;
  font-size: 30px;
  padding-right: 400px;
  font-family: "MADE Outer Sans Outline Bold";
}

.products {
  letter-spacing: 5px;
}

.vertical-text-lr {
  margin-left: 15px;
  font-size: 12px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: "MADE Outer Sans Light";
}

@media screen and (max-width: 768px)
{
  .burger{
  top: 45px;
  }
}

/* @media screen and (max-width: 768px) {
h1 {
    font-size: 20px;
  }

  .description {
    font-size: 5px;
  }

  .products {
    font-size: 5px;
  }

  .vertical-text-lr {
    display: none;
  }

  .vertical-text-rl {
    display: none;
  }
} */